:root {
  --font-primary: 'Roboto', sans-serif;
  
  --color-primary: #EFEB14;
  --color-heading-lightbg: #4a4a4a;
  --color-heading-darkbg: #FFFFFF;
  --color-text-lightbg: #595959;
  --color-text-darkbg: #CCC9C9;
  
  --color-button-bg: #EFEB14;
  --color-button-text: #000000;
  
  --bg-light: #FFFFFF;
  --bg-dark: #121212;
}
